<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>주문확인서 , 매출확인</title>
    <link rel="stylesheet" th:href="@{/css/admin_sell.css}">
    <title>주문현황 , 매출확인</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="p-3 mb-2 bg-primary-subtle text-color">
        <div class="h4 pb-2 mb-4 text-color border-bottom border-dark text-center">
            <h3>주문현황 🧾</h3>
        </div>
        <div class="sell-view">
            <div th:each="sell : ${sellDto}" th:object="${sell}">
                <div class="card">
                    <!-- 주문번호 -->
                    <div class="id">
                        <span style="font-size: 15px;">주문번호</span>
                        <div style="font-size: 30px;" th:text="*{id}"></div>
                    </div>

                    <div class="card-2">
                        <!-- user name-->
                        <div class="user" th:text="*{usersDto.name}">
                        </div>
                        <!-- menu name , amount -->
                        <div class="menu-amount">
                            <span th:text="*{menuDto.menuName}"></span>
                            <span th:text="' - ' + *{sellAmount} + '개'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h4 pb-2 mb-4 text-color border-bottom border-dark text-center"></div>
        <div th:each="total : ${total}" th:object="${total}">
            <div class="total" th:text="'총 매출 ➡️' + ' ' + *{total} + '원'"></div> <!--총 매출-->
        </div>
    </div>
</div>
</body>
</html>