<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/admin_sell.css}">
    <title>주문현황</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="p-3 mb-2 bg-primary-subtle text-color">
        <div class="h4 pb-2 mb-4 text-color border-bottom border-dark text-center">
            <h3>주문현황 🧾</h3>
        </div>
        <div class="sell-view">
            <div th:each="sell : ${sellDto}" th:object="${sell}">
                <div class="card">
                    <!-- 주문번호 -->
                    <div class="id">
                        <span style="font-size: 15px;">주문번호</span>
                        <div style="font-size: 30px;" th:text="*{id}"></div>
                    </div>
                    <div class="card-2">
                        <!-- user name-->
                        <div class="user">
                            <span th:text="*{usersDto != null && usersDto.name != null ? usersDto.name : '탈퇴회원'}"></span></span>
                        </div>
                        <!-- menu name , amount -->
                        <div class="menu-amount">
                            <span th:text="*{menuDto.menuName}"></span>
                            <span th:text="' - ' + *{sellAmount} + '개'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h4 pb-2 mb-4 text-color border-bottom border-dark text-center"></div>
        <nav aria-label="Page navigation example" class="pagination-center">  <!-- 중앙 정렬을 위해 클래스 추가 -->
            <ul class="pagination">
                <!-- 이전 페이지 -->
                <li class="page-item" th:classappend="${paging.number <= 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/sell(page=${paging.number - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- 페이지 번호 표시 -->
                <th:block th:each="pageNumber : ${barNumbers}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/admin/sell(page=${pageNumber})}"
                           th:text="${pageNumber + 1}">페이지</a>
                    </li>
                </th:block>
                <!-- 다음 페이지 -->
                <li class="page-item" th:classappend="${paging.number + 1 >= paging.totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/sell(page=${paging.number + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>