<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/menu.js}" th:inline="javascript"></script>
</head>
<body>
<div class="content" layout:fragment="content">
    <form id="orderForm" th:action="@{/user/userMenu}" method="post"></form>
        <div class="menu_tab">
            <div class="menu_nav">
                <a class="nav-link" th:href="@{/user/userMenu}">[쿼카PC]라면</a>
                <a class="nav-link" th:href="@{/user/userMenu2}">[쿼카PC]음료</a>
                <a class="nav-link" th:href="@{/user/userMenu3}">[쿼카PC]간식</a>
                <a class="nav-link" th:href="@{/user/userMenu4}">[쿼카PC]과자</a>
            </div>
            <div class="menu_list"><!--메뉴 보이는 코드-->
                <table class="menu-table">
                    <tr th:each="row, rowStat: ${#numbers.sequence(0, menuDto.size() - 1)}" th:if="${rowStat.index % 4 == 0}">
                        <td th:each="col: ${#numbers.sequence(rowStat.index, rowStat.index + 3)}" th:if="${col &lt; menuDto.size()}">
                            <button class="menu-button" onclick="addToOrder(this)">
                                <img th:src="@{'/img/' + ${menuDto[col].menuName} + '.jpg'}">
                                <span th:text="${menuDto[col].menuName}"></span>
                                <input type="hidden" class="menuName" name="menuName" th:value="${menuDto[col].menuName}">
                                <span th:text="${menuDto[col].menuPrice} +'원'"></span>
                                <input type="hidden" class="menuPrice" name="menuPrice" th:value="${menuDto[col].menuPrice}">
                            </button>
                        </td>
                    </tr>
                </table>
            </div><!--메뉴 보이는 코드-->
            <div class="menu-order"><!--주문내역-->
                <div class="menu-form">
                    <div class="close-button-container">
                        <a class="close-button" th:href="@{/user}">⨉</a>
                    </div>
                    <div class="menu-order-view" id="menu-order-view"><!--주문내역표시창-->
                    </div>
                    <div class="order-price-total">
                        <!--                    주문총금액-->
                        <span class="order-price-total-1">총 주문금액</span> <span><span id="total-price" class="order-price-total-2"></span><span class="order-price-total-1">원</span></span>
                    </div>
                </div>
                <div class="menu-label">
                    <span class="order-price-total-1">잔액 ➡️</span>&nbsp;<span id="curMoney" th:text="${#numbers.formatInteger(currentMoney, 3, 'COMMA') + '원'}"></span>
                </div>
                <input type="button" value="주문하기" onclick="submitOrder()" class="purchase-button">
            </div><!--주문내역-->
        </div>
    </div>
</body>
</html>