<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/user.js}" th:inline="javascript"></script>
    <title>Quokka's PC</title>
    <link rel="stylesheet" th:href="@{/css/user-info-box.css}">
</head>
<body layout:fragment="content">

    <div class="userInfoBox">
        <div class="box-half1">
            <div class="box-half3">
                No.036
            </div>
            <div class="box-half4">
                <div th:text="'이름 :      '+${currentUser.name}"></div>
                <div th:text="'현재잔액 :      '+${#numbers.formatInteger(currentUser.money, 3, 'COMMA') + '원'}"></div>
                <div th:text="'등급 :      '+${currentUser.status}"></div>
            </div>
        </div>
        <div class="box-half2">
            <div class="box-half5">
                <form id="signUpForm" th:action="@{/user/userSelfUpdate}" method="get" target="_blank">
                    <input type="submit" value="내정보수정">
                </form>
                <script>
                    document.getElementById("signUpForm").addEventListener("submit", function(event) {
                        event.preventDefault(); // 기본 동작 중지
                        var popupWidth = 470;
                        var popupHeight = 500;
                        var left = (screen.width - popupWidth) / 2;
                        var top = (screen.height - popupHeight) / 2;

                        // 팝업 창을 생성 후 signIn 페이지 가운데에 위치 시킴
                        window.open(this.action, "signInPopup", "width=" + popupWidth + ",height=" + popupHeight + ",left=" + left + ",top=" + top);
                        });
                </script>
            </div>
            <div class="box-half6">
                <div class="box-half7">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">사용종료</button>
                    </form>
                </div>
                <div class="box-half8">
                    <form th:action="@{/user/userDelete}" method="post" onsubmit="return confirmDelete2()">
                        <input type="submit" value="회원탈퇴">
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>